@import "source-sans-pro/source-sans-variable";

html {
  font-size: 16px; /* don't change this! */
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  @apply font-main text-black bg-white;
}
